<div class="intro section">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <%== translated_attribute template_texts.intro %>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="progress-level">
        <p>Estado de ejecución global</p>
        <%= icon("info", class: "icon", aria_label: "Afegir", role: "img") %>

        <div class="progress">
          <div class="progress-meter" style="width:<%= progress_calculator(current_scope, nil) %>%"></div>
        </div>

        <div class="progress-figure">
          <%= display_percentage progress_calculator(current_scope, nil) %>
        </div>
      </div>
    </div>

  </div>
</div>
