<div class="card card--action card--list">
  <% results.each do |result| %>
    <div class="card--list__item">
      <%= link_to result, class: "card--list__text card__link card__link--block" do %>
        <h5 class="card--list__heading">
          <%= translated_attribute result.title %>
          <%= display_percentage result.progress %>
        </h5>
      <% end %>
    </div>
  <% end %>
</div>
<%= decidim_paginate results, order_start_time: params[:order_start_time], scope_id: params[:scope_id] %>
