<div class="row accountability">
  <div class="small-12 columns">
    <%= render partial: "header" %>
    <%= render partial: "location_filters" %>
    <%= render partial: "categories" %>
  </div>
</div>
