<div class="row accountability">
  <div class="small-12 columns">
    <%= render partial: "header" %>
    <%= render partial: "scope_filters", locals: { url_method: :root_path} %>
    <%= render partial: "categories" %>
  </div>
</div>
